$color-feather-green: #58cc02;

html {
  height: 100dvh;
}

body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

.app {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.block {
  margin: 2rem 0;
}

button {
  cursor: pointer;
  background-color: $color-feather-green;
  border: none;
  border-radius: 1rem;
  color: black;
  padding: 15px 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}

.blue {
  background-color: #1cb0f6;
}

.exit {
  background-color: darkslategray;
}

.rotate-left {
  transform: rotate(180deg);
}
